<form [formGroup]="loginForm" (ngSubmit)="login()">
  <div>
    <input formControlName="login" placeholder="{{'LABEL_LOGIN' | translate}}">
  </div>
  <div>
    <input formControlName="password" type="password" placeholder="{{'LABEL_PASSWORD' | translate}}">
  </div>
  <button type="submit">{{'ACTION_SIGN_IN' | translate}}</button>
</form>
