<h1>{{'LABEL_CONFIGURATION' | translate}}</h1>
<form [formGroup]="configForm" (ngSubmit)="onSubmit()">
  <div>
    <label>
      <input type="checkbox" formControlName="useMocks"> {{'LABEL_USE_MOCKS' | translate}}
      <span></span>
    </label>
  </div>
  <div>
    <label>{{'LABEL_MOCKS_DELAY' | translate}}</label>
    <input type="number"
           formControlName="mocksDelay"
           placeholder="{{'LABEL_ENTER_TIME' | translate}}">
  </div>
  <div>
    <label>{{'LABEL_BACKEND_ENDPOINT' | translate}}</label> - {{config.backendEndpoint}}
    <select formControlName="backendEndpoint">
      <option [value]="null">{{'LABEL_SELECT_BACKEND_ENDPOINT' | translate}}</option>
      <option [value]="developmentVersion">{{'LABEL_DEVELOPMENT_VERSION' | translate}}</option>
    </select>
  </div>
  <div>
    <label>{{'LABEL_LANGUAGE' | translate}}</label>
    <select formControlName="language">
      <option [value]="null">{{'LABEL_SELECT_LANGUAGE' | translate}}</option>
      <option value="ru">{{'LABEL_RUSSIAN' | translate}}</option>
      <option value="en">{{'LABEL_ENGLISH' | translate}}</option>
    </select>
  </div>
  <button type="submit" [disabled]="!configForm.valid">Submit</button>
</form>
