.drop-list {
  height: auto;
  width: 550px;
  border: 1px solid darkgray;
  align-content: flex-start;
  display: flex;
  flex-flow: row wrap;

  .item {
    height: 50px;
    width: 50px;
    margin: auto;
    display: flex;
    justify-content: center;
  }
}
