:host {
  display: block;
  margin: 1rem 0;
  padding: 1rem;
  border-radius: 25px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.container {
  padding: 1rem;
  margin: 1rem;
  border-radius: 25px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
