$content-width: 1100px;
$header-height: 100px;
$sider-width: 320px;

$box-shadow: 0 10px 20px #d1d6e2;
$box-shadow-small: 0 2px 12px rgba(0,0,0,.2);
$box-shadow-red: 0 10px 20px #dfc3c5;
$box-shadow-green: 0 10px 20px #8BDDC6;
$box-shadow-inner: inset 0 1px 3px rgba(195,201,215,.53);

$primary-color: #005461;
$primary-color-dark: #003E48;
$secondary-color: #4baec9;
$success-color: #4eb598;
$blue-color: #6790BD;
$grey-color: #e9ebf0;
$grey-color-light: #f2f4f7;
$grey-color-lighten: #d1d6e2;
$grey-color-dark: #d0d3df;
$white-color: #fff;
$black-color: #000;

$primary-text-color: #343a43;
$primary-text-light-color: #646c73;

$primary-error-color: #BE182D;
$success-color: #76A530;
$info-color: #3296C1;
$warning-color: #BAAA00;
$danger-color: #BE182D;

$font-size-base: 15px;
$font-size-xl: 24px;
$font-size-lg: 18px;
$font-size-sm: 13px;

$font-weight-base: 400;
$font-weight-lg: 700;

$border-radius-base: 6px;
$border-radius-sm: 4px;
$border-radius-md: 25px;
$border-radius-lg: 30px;

$gutter-xs: 10px;
$gutter-sm: 15px;
$gutter-md: 20px;
$gutter-lg: 30px;
$gutter-xl: 35px;

$width-xl: 1600px;
$width-lg: 1200px;
$width-md: 992px;
$width-sm: 768px;
$width-xs: 576px;
$width-xxs: 360px;
